Exercises/css/içerikler kopyası.md
Exercises/css/içerikler.md
Exercises/css/README.md
Exercises/css/aciklama-satirlari-ile-calismak-ve-genel-font-ozellikleri/README.md
Exercises/css/css-ile-class-ve-id-kullanimi/README.md
Exercises/css/css-ile-class-ve-id-kullanimi/assets/Screenshot_1.jpg
Exercises/css/css-ile-class-ve-id-kullanimi/assets/Screenshot_2.jpg
Exercises/css/css-ile-class-ve-id-kullanimi/assets/Screenshot_3.jpg
Exercises/css/css-ile-class-ve-id-kullanimi/assets/Screenshot_4.jpg
Exercises/css/css-ile-class-ve-id-kullanimi/assets/Screenshot_5.jpg
Exercises/css/css-ile-class-ve-id-kullanimi/assets/Screenshot_6.jpg
Exercises/css/css-ile-class-ve-id-kullanimi/assets/Screenshot_7.jpg
Exercises/css/css-ile-class-ve-id-kullanimi/assets/Screenshot_8.jpg
Exercises/css/css-ile-class-ve-id-kullanimi/assets/Screenshot_9.jpg
Exercises/css/css-ile-class-ve-id-kullanimi/assets/Screenshot_10.jpg
Exercises/css/css-inline-css-nasil-kullanilir/README.md
Exercises/css/css-kutu-ozelliklerimargin,-padding,-width,-height-kullanimi/README.md
Exercises/css/css-kutu-ozelliklerimargin,-padding,-width,-height-kullanimi/figures/box.png
Exercises/css/css-kutu-ozelliklerimargin,-padding,-width,-height-kullanimi/figures/boxmodel_.png
Exercises/css/css-nedir/README.md
Exercises/css/css-nedir/figures/header-color.png
Exercises/css/css-nedir/figures/header.png
Exercises/css/css-ozet-calismasi-ve-kendimi-css-konusunda-nasil-gelistirebilirim/README.md
Exercises/css/css-seciciler-ile-calismak,-i̇stedigimiz-html-etiket-yapisina-ozelliklik-ekleyebilmek/README.md
Exercises/css/cssodev3/README.md
Exercises/css/cssodev3/figures/googlehomepage.png
Exercises/css/inlineetikete-ozel,-internalayni-dosyada-ve-externalcss-dosyasinda-css-kullanimi/README.md
Exercises/css/inlineetikete-ozel,-internalayni-dosyada-ve-externalcss-dosyasinda-css-kullanimi/figures/css-nedir.jpg
Exercises/css/inlineetikete-ozel,-internalayni-dosyada-ve-externalcss-dosyasinda-css-kullanimi/figures/css-yapisi.jpg
Exercises/css/inlineetikete-ozel,-internalayni-dosyada-ve-externalcss-dosyasinda-css-kullanimi/figures/internal-css.png
Exercises/css/odev1/README.md
Exercises/css/odev1/figures/htmlcssjs.png
Exercises/css/odev1/figures/webpage.gif
Exercises/CSS_assessment3/odev/README.md
Exercises/CSS_assessment3/odev/.vscode/settings.json
Exercises/CSS_assessment3/odev/figures/googlehomepage.gif
Exercises/CSS_assessment3/odev/figures/googlehomepage.png
Exercises/CSS_assessment3/odev/google_homepage/index.html
Exercises/CSS_assessment3/odev/google_homepage/.vscode/settings.json
Exercises/CSS_assessment3/odev/google_homepage/assets/appsbutton.svg
Exercises/CSS_assessment3/odev/google_homepage/assets/googlefirstlogo.png
Exercises/CSS_assessment3/odev/google_homepage/assets/logo.png
Exercises/CSS_assessment3/odev/google_homepage/assets/profilepic.jpg
Exercises/CSS_assessment3/odev/google_homepage/assets/voicelogo.png
Exercises/CSS_assessment3/odev/google_homepage/css/style.css
Exercises/Bootstrap-1/imgs/bassguitar.jpg
Exercises/Bootstrap-1/imgs/behringer.jpg
Exercises/Bootstrap-1/imgs/drums.jpeg
Exercises/Bootstrap-1/imgs/guitar.jpg
Exercises/Bootstrap-1/imgs/organization.jpg
